<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Slack</title>
  </head>
  <body>
    <header>
      <div class="search">
        <button class="search-btn"><i class="fas fa-search"></i>検索</button>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="sidebar">
          <p class="channel-title"><span>チャンネル</span></p>
          <ul class="channel-list">
            <% channels.forEach(channel => { %>
            <li class="channel" data-channel-id="<%= channel.id %>">
              <span># <%= channel.name %></span>
            </li>
            <% }) %>
            <li class="create-channel">
              <i class="fas fa-plus"></i>チャンネルを追加する
            </li>
          </ul>
          <p><span>ダイレクトメッセージ</span></p>
          <ul class="users">
            <li class="user" data-user-id="<%= locals.userId %>">
              <span id="current-username"><%= locals.username %> (自分)</span>
            </li>
            <% users.forEach(user => { %>
            <li class="user" data-user-id="<%= user.id %>">
              <span><%= user.name %></span>
            </li>
            <% }) %>
          </ul>
        </div>
        <div class="right-content">
          <div class="messages"></div>
          <div class="typing"></div>

          <form action="" method="post" id="form-message">
            <input type="file" name="file" id="file" />
            <input type="text" id="input-message" />
            <button type="submit">submit</button>
          </form>
        </div>

        <div id="modal1" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <form id="form-channel">
              <label for="input-channel">名前</label><br />
              <input
                type="text"
                id="input-channel"
                placeholder="# 例: general, random"
                required
              />
              <div class="submit-btn">
                <button>作成</button>
              </div>
            </form>
          </div>
        </div>
        <div id="modal2" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <div class="stamp">
              <img
                src="https://a.slack-edge.com/production-standard-emoji-assets/13.0/apple-small/1f44d.png"
                alt="good"
              />
              <img
                src="https://a.slack-edge.com/production-standard-emoji-assets/13.0/apple-small/2705.png"
                alt="check"
              />
              <img
                src="https://a.slack-edge.com/production-standard-emoji-assets/13.0/apple-small/1f62d.png"
                alt="crying"
              />
              <img
                src="https://emoji.slack-edge.com/T4N45LPU2/zenno/c4161c6ec90412b2.png"
                alt="zenno"
              />
            </div>
          </div>
        </div>
        <div id="modal3" class="modal">
          <div class="modal-content">
            <div class="search-input">
              <label for="input" class="fas fa-search"></label>
              <input
                id="input"
                list="rooms"
                type="text"
                placeholder="例、#channel, @user"
                autocomplete="off"
              />
              <datalist id="rooms">
                <div class="select-channels">
                  <% channels.forEach(channel => { %>
                  <option
                    class="room"
                    data-channel-id="<%= channel.id %> "
                    value="#<%= channel.name %>"
                  ></option>
                  <% }) %>
                </div>
                <div class="select-users">
                  <% users.forEach(user => { %>
                  <option
                    class="room"
                    data-user-id="<%= user.id %> "
                    value="@<%= user.name %>"
                  ></option>
                  <% }) %>
                </div>
              </datalist>
              <span class="close">&times;</span>
            </div>
            <br />
          </div>
        </div>
      </div>
    </main>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/client.js"></script>
  </body>
</html>
